@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #f1efed;
  --color-green: #353831;
  --color-beige: #a89178;
  --color-muslin: #d5cdba;
  --color-black: #141414;
}

body {
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
p,
th,
dt,
button,
.header-link {
  font-family: var(--font-serifDisplay);
}

td,
nav,
dl,
dd,
input,
span,
a {
  font-family: var(--font-specialElite);
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 0.2rem;
}

button {
  background-color: var(--color-white);
  color: var(--color-green);
  border-color: var(--color-green);
  font-weight: bold;
}

button:hover {
  background-color: var(--color-green);
  color: var(--color-white);
  border-color: var(--color-white);
}

.record-dl {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.mobile-record-dl {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}

.record-float {
  float: left;
  padding-right: 0.5rem;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 0.5rem;
  padding-top: 3px;
}

.readMore {
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.7rem;
}

.dropIn {
  animation: dropIn 0.5s forwards;
}

@keyframes dropIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mapboxgl-popup-close-button {
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 0rem 0.5rem;
}

.mobileMapPopup > dt,
dl {
  font-size: 0.8rem;
}

.mobileMapPopup > h4 {
  padding-left: 0.5rem;
}

.mapboxgl-popup-content {
  width: 53.3rem;
}
@media (max-width: 980px) {
  .mapboxgl-popup-content {
    width: 21.3rem;
  }
}
