@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #f1efed;
  --color-green: #353831;
  --color-beige: #a89178;
  --color-muslin: #d5cdba;
  --color-black: #141414;
}

body {
  background-color: var(--color-white);
}

h1,
h2,
p,
th,
dt,
button {
  font-family: var(--font-serifDisplay);
}

td,
nav,
dl,
dd,
input,
span,
a {
  font-family: var(--font-specialElite);
  font-weight: 400;
}

button {
  background-color: var(--color-white);
  color: var(--color-green);
  border-color: var(--color-green);
  font-weight: bold;
}

button:hover {
  background-color: var(--color-green);
  color: var(--color-white);
  border-color: var(--color-white);
}

dl {
  font-weight: bold;
}

dd {
  padding-left: 0.5rem;
  padding-top: 3px;
}

.readMore {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
